* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: white;
        }

        nav {
            display: flex;
            /* width: 60vw; */
            max-width: 100vw;
            height: 50px;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            color: white;
            background-color: rgb(0, 63, 47);
        }

        body {
            background-color: rgb(47, 38, 0);
        }

        ul {
            display: flex;
        }

        a {
            text-decoration: none;
            /* color: green; */
            color: white;
        }

        li {
            padding-right: 20px;
        }

        .containerofh1 {
            display: flex;
            color: white;
            background-color: rgb(0, 77, 55);
            width: 100vw;
            height: 150px;
            margin: auto;
            justify-content: center;
            align-items: center;
        }

        h1+span {
            color: rgb(255, 243, 198);
            /* background-color: black; */
        }

        h1 {
            display: block;
            font-size: 40px;
            padding-bottom: 15px;
        }

        div>div {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .first {
            /* padding: 50px; */
            padding-top: 100px;
            padding-bottom: 50px;
            /* background-color: lightblue; */
            width: 60vw;
            display: flex;
            /* justify-content: ;
             
            */
            /* gap: 60px; */
            justify-content: space-evenly;



            flex-direction: row;
            align-items: center;
            margin: auto;

        }

        .first .paragraph>p {
            width: 100%;
            /* font-size: ; */
        }

        .first>div>img {
            border-radius: 30px;
            height: 310px;
            margin-right: 20px;

            /* padding-left: 30px; */
            /* box-sizing: content-box; */
            /* padding-left: 10px; */
        }

        p {
            padding: 5px;
        }

        .contentcontainer {
            width: 60vw;
            margin: auto;
        }

        .content {
            background-color: rgb(24, 26, 27);

        }

        .header {
            display: inline;
        }

        .famousdino>h2 {

            background-color: rgb(24, 26, 27);
            /* display: inline; */
            width: fit-content;
            padding: 15px;
            font-size: 25px;
            border-radius: 10px;
        }

        .header>h2 {
            background-color: rgb(24, 26, 27);
            /* display: inline; */
            width: fit-content;
            padding: 15px;
            font-size: 25px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;

        }

        .wadboxcontainer {
            margin-top: 32px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .wadbox {
            background-color: rgb(47, 38, 0);
            padding: 16px;
            border: 2px solid rgb(0, 122, 85);
            border-radius: 10px;

        }

        .content {
            padding: 32px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;

        }

        .content>p {
            font-size: 18px;
        }

        .wadbox>h3 {
            margin-bottom: 8px;
        }
        .fourbox{
            background-color: green;
        }
        .fourbox img{
            width: 200px;
        }